@import "~react-toolbox/lib/colors";

$color-primary: $palette-blue-500;
$color-primary-dark: $palette-blue-700;
$color-primary-light: $palette-blue-300;

.folderIcon {
  background-color: $color-primary-light;
}

.resourceIcon {
  background-color: $color-primary-dark;
}